.advantages {
  .font-ptsans();
  margin: 0 auto;
  width: auto;
}

.text-heading {
  .font(18px, bold, 26px);
  color: @main-text-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.text-index,
.text-desc {
  .font(14px, normal, 21px);
  text-align: center;
  color: @side-text-color;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.features__heading {
  .font(18px, bold, 26px);
  text-align: left;
  color: @main-text-color;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.features__desc {
  .font(14px, normal, 21px);
  text-align: left;
  color: @side-text-color;
  text-transform: uppercase;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgba(238, 238, 238);
}

.advantages__item {
  background-color: rgba(238, 238, 238);
  padding: 33px 0;
  margin: 0 20px;
  position: relative;

  border-bottom: 1px solid black;

  &:first-of-type {
    padding-top: 15.53%;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/bg-triangle.svg");
      background-position: center center;
      background-repeat: no-repeat;
      top: 0;
      width: 100%;
      height: auto;
      background-size: contain;
      padding-bottom: 11.56%;
      left: 0;
      z-index: 1;
    }
  }

  &:last-of-type {
    border: none;
  }

  &--blue {
    background-color: @background-color;
    padding: 0;
    margin: 0;
    border: none;

    &:nth-of-type(2) {
      padding-top: 45px;
    }
  }
}

.advantages__item--blue:nth-of-type(2) {
  padding-top: 45px;
  padding-bottom: 260px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 260px;
    background-position: center center;
  }
}

.advantages__text {
  margin: 0 27px;
}

.advatnages__features-list {
  background-color: white;
  margin: 0;
  padding: 40px 0;
  position: relative;
  padding-top: 286px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 260px;
  }
}


.features-item {
  width: auto;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 40px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.features-item__house {
  position: absolute;
  top: 0;
  left: -48px;
  fill: @background-color;
  width: 39px;
  height: 37px;
}

.features-item__present {
  position: absolute;
  top: 0;
  left: -48px;
  fill: @background-color;
}

.features-item__food {
  position: absolute;
  top: 0;
  left: -48px;
  fill: @background-color;
}

@media (min-width: @tablet-width) {
  .text-heading {
    .font(21px, bold, 26px);
    margin: 0 auto;
    margin-bottom: 5px;
    color: @main-text-color;
    width: auto;
  }

  .text-index,
  .text-desc {
    .font(14px, normal, 21px);
  }

  .text-index {
    .font(14px, normal, 21px);
    margin-bottom: 19px;
    color: @side-text-color;
  }

  .text-desc {
    .font(14px, normal, 21px);
    margin-bottom: 0;
    color: @side-text-color;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__item {
    padding: 50px auto;
    border: none;
    width: 21%;
  }

    &:first-of-type {
      padding-top: 0;

      &::after {
        background-image: none;
      }
    }

    &--blue {
      &:first-of-type {
        display: block;
        width: 100%;
      }

      &:nth-of-type(2) {
        display: block;
        padding-top: 0;
        width: 100%;
        color: @alt-text-color;
      }
    }
  }

  .advantages__item .advantages__text {
    padding: 50px auto;
    width: auto;
  }

  .advantages__item--blue:first-of-type .advantages__text {
    padding: 46px 47px 49px 47px;
    width: auto;
    height: 161px;
    margin-right: 66%;
    color: @alt-text-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .text-heading,
  .text-index,
  .text-desc {
    color: inherit;
  }

  .advantages__item--blue:first-of-type .advantages__text::before {
    position: absolute;
    content: "";
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-size: cover;
    top: 0;
    width: 66%;
    height: 256px;

    right: 0;
  }

  .advantages__item--blue:nth-of-type(2) {
    display: block;
    padding-top: 0;
    width: 100%;
    color: @alt-text-color;
    padding-bottom: 0;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-size: cover;
      top: 0;
      width: 66%;
      height: 258px;
      left: 0;
    }
  }

  .advantages__item--blue:nth-of-type(2) .advantages__text {
    padding: 50px 51px 47px 51px;
    width: auto;
    height: 161px;
    margin-left: 66%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .advantages__text {
    margin: 0;
  }

  .advatnages__features-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &::after {
      content: none;
      background-image: none;
    }
  }

  .features-item {
    margin: 0;
    width: 22%;
    margin-top: 164px;
    margin-bottom: 66px;
  }

  .features__heading {
    .font(21px, bold, 26px);
    text-align: center;
  }

  .features__desc {
    .font(14px, normal, 21px);
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    padding-top: 50px;
    padding-bottom: 70px;

    &--blue {
      padding-bottom: 0;
    }
  }

  .advantages__item--blue:first-of-type .advantages__text {
    padding: 53px 67px 64px 68px;
  }

  .advantages__item--blue:first-of-type .advantages__text::before {

    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    height: 279px;
    background-position-y: -71px;
  }

  .advantages__item--blue:nth-of-type(2) .advantages__text {
    width: 214px;
    padding: 58px 93px 60px 94px;
  }

  .advantages__item--blue:nth-of-type(2)::after {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 279px;
    left: 0;
    background-position-y: -71px;
  }
}
