.intro {
  padding-top: 43px;
  width: 276px;
  padding-bottom: 10px;
  .font-ptsans();
  max-width: @mobile-width;
  margin: 0 auto;
}

.intro__heading {
  .font(18px, bold, 26px);
  color: @main-text-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.intro__text {
  .font(14px, normal, 26px);
  color: @main-text-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .intro {
    padding-top: 51px;
    padding-bottom: 55px;
    width: 490px;
    height: 100px;
    max-width: @tablet-width;
  }

  .intro__heading {
    .font(21px, bold, 26px);
  }

  .intro__text {
    .font(14px, normal, 26px);
  }
}

@media (min-width: @tablet-width) {
  .intro {
    max-width: @desktop-width;
  }
}
