.intro {
  padding-top: 40px;
  width: auto;
  padding-bottom: 10px;
  .font-ptsans();
  margin: 0 auto;
}

.intro__heading {
  .font(18px, bold, 26px);
  color: @main-text-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 81.25%;
  margin-bottom: 27px;
}

.intro__text {
  .font(14px, normal, 26px);
  color: @main-text-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 81.25%;
}

@media (min-width: @tablet-width) {
  .intro {
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .intro__heading {
    .font(21px, bold, 26px);
    width: 428px;
  }

  .intro__text {
    .font(14px, normal, 26px);
    width: 428px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    max-width: @desktop-width;
  }
}
