.main-nav {
  .font-ptsans();
  background-color: white;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  .font-ptsans();
  padding-top: 17px;
  padding-bottom: 18px;
}

.main-nav__toggle {
  z-index: 3;

  font-size: 0;
  position: relative;
  margin: 0 20px;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
}

.main-nav__toggle-line {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81b3d2;
  border-top: 1px solid #c0d9e8;
  border-bottom: 1px solid #c0d9e8;

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #81b3d2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #81b3d2;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle-line--checked {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    transform: rotate(-90deg);
    background-color: white;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.main-nav__item {

  text-align: center;
  background-color: @background-color;
  width: 100%;

  border-top: 1px solid rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .main-nav__link {
      opacity: 0.3;
    }
  }
}

.main-nav__link {
  .font(18px, bold, 40px);
  display: block;
  padding: 20px 0;
  color: @alt-text-color;
  text-transform: uppercase;
}
