.page-footer {
  .font-ptsans();
  margin: 0 auto;
}

.footer__tag {
  .font(21px, bold, 26px);
  text-align: center;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 30px auto 40px auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 23px;
}

.copyright__text {
  .font(14px, normal, 26px);
  text-align: center;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
  margin-right: 11px;
}

.copyright__link,
.social__link {
  font-size: 0;
}

.copyright__link {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.social__list {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  background-color: @background-color;
  display: flex;
  align-items: center;
  fill: white;
  justify-content: center;
  width: 46px;
  height: 48px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .footer__tag {
    margin: auto;
  }

  .social__list {
    margin: auto;
  }

  .page-footer__copyright {
    margin: auto;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 50px;
    margin-bottom: 52px;
  }
}
