.presentation {
  .font-ptsans();
  max-width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 75px;
}

.presentation__heading {
  .font(18px, bold, 26px);
  text-align: center;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
  margin-bottom: 26px;
}

.presentation_desc {
  .font(14px, normal, 24px);
  text-align: center;
  text-transform: uppercase;
  color: @side-text-color;
  margin: 0;
}

.presentation__text-wrap {
  width: 235px;
  margin: 33px auto 35px auto;
}

.presentation__video {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.presentation__img {
  z-index: 1;

  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.presentation__volume-block {
  z-index: 3;
  display: block;
  position: absolute;
  bottom: 66px;
  left: 20px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.presentation__volume {
  position: absolute;
  top: 22px;
  left: 22px;
  margin: 0 auto;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.presentation__slider {
  position: absolute;
  top: 19px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 4px;
}

.presentation__controls {
  background-color: rgba(242, 242, 242);
  width: 280px;
  height: 66px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.presentation__back {
  font-size: 0;
  margin-left: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.presentation__subtitle {
  font-size: 0;
  margin-left: 133px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.presentation__full {
  font-size: 0;
  margin-left: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .presentation {
    max-width: @tablet-width;
    position: relative;
    margin-bottom: 76px;
  }

  .presentation__text-wrap {
    width: 415px;
    margin: 67px auto 73px auto;
  }

  .presentation__heading {
    .font(30px, bold, 26px);
    margin-bottom: 30px;
  }

  .presentation__video {
    width: 648px;
  }

  .presentation__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      width: 648px;
      height: 499px;
    }

    &--desktop {
      display: none;
    }
  }

  .presentation__controls {
    background-color: rgba(0, 0, 0, 0.6);
    width: 648px;
    height: 93px;
    margin: 0;
    margin-top: -92px;
    z-index: 2;
    position: relative;
  }

  .presentation__volume-block {
    position: relative;
    bottom: 1px;
    left: 0;
    margin: 0 42px;
    width: 389px;
    background-color: transparent;
  }

  .presentation__volume {
    width: 389px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    left: 0;
  }

  .presentation__slider {
    left: 113px;
  }

  .presentation__subtitle {
    margin: 0;
    margin-right: 31px;
    opacity: 1;
  }

  .presentation__subtitle path {
    fill: white;
  }

  .presentation__back {
    fill: white;
    margin-left: 35px;
    opacity: 1;
  }

  .presentation__full {
    fill: white;
    margin-left: 0;
    opacity: 1;
  }

  .presentation__full path {
    fill: white;
  }
}


@media (min-width: @desktop-width) {
  .presentation {
    max-width: @desktop-width;
    position: relative;
    margin-bottom: 121px;
  }

  .presentation__text-wrap {
    margin: 70px auto 72px auto;
  }

  .presentation__video {
    width: 800px;
  }

  .presentation__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
      width: 648px;
      height: 499px;
    }

    &--desktop {
      display: block;
      width: 800px;
      height: 500px;
    }
  }

  .presentation__controls {
    width: 800px;
    height: 93px;
    margin-top: -93px;
  }

  .presentation__volume-block {
    margin: 0 42px;
    width: 540px;
  }

  .presentation__volume {
    width: 540px;
  }
}
