.presentation {
  .font-ptsans();
}

.presentation__heading {
  .font(18px, bold, 26px);
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 37px;
}

.presentation_desc {
  .font(14px, normal, 24px);
  text-align: center;
  text-transform: uppercase;
  color: @black-two;
  margin: 0;
}

.presentation__text-wrap {
  width: 235px;
  margin: 40px auto;
}
