.recall {
  .font-ptsans();
  margin: 0 auto;
}

.recall__name-heading,
.recall__contacts-heading,
.recall__rating-heading,
.recall__attractions-heading,
.recall__comment-heading,
.popup-success__header {
  .font(18px, bold, 26px);
  text-align: center;
  color: @main-text-color;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
}

.recall__name-label,
.recall__contacts-label,
.popup-success__text {
  .font(14px, normal, 26px);
  text-align: left;
  color: @side-text-color;
  margin: 0;
  text-transform: uppercase;
}

.recall__name-input,
.recall__contacts-input,
.recall__rating-label,
.recall__attractions-label,
.recall__comment-text {
  .font-ptsans();
  .font(18px, bold, 26px);
  text-align: left;
  color: @main-text-color;
  margin: 0;
}

.recall__name-input::placeholder,
.recall__contacts-input::placeholder,
.recall__comment-text::placeholder {
  color: black;
}

.recall__name-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  padding-left: 21px;
  padding-right: 20px;
}

.recall__name-heading {
  margin-bottom: 5px;
}

.recall__name-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.recall__name-label {
  margin-right: 10px;
}

.recall__name-input {
  width: 100%;
  border: none;
  background-color: @input-color;
  padding: 12px 0;
  padding-left: 22px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active,
  &:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.recall__contacts-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
  margin: 0;
  margin-top: 18px;
  padding-bottom: 28px;
}

.recall__contacts-heading {
  margin-bottom: 20px;
}

.recall__contacts-item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 12px;
  position: relative;

  &:first-of-type {
    &::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      right: 0;
      bottom: 0;
      background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center;
      width: 58px;
      height: 58px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      right: 0;
      bottom: 0;
      background: #e6e6e6 url("../img/icon-mail.svg") no-repeat center;
      width: 58px;
      height: 58px;
    }
  }
}

.recall__contacts-label {
  margin-left: 23px;
  margin-bottom: 7px;
}

.recall__contacts-input {
  padding: 12px 0;
  padding-left: 17px;
  border: none;
  background-color: @input-color;
  padding-right: 22px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active,
  &:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.recall__rating-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.recall__rating-heading {
  margin-bottom: 22px;
}

.recall__rating-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 13px;
}

.recall__rating-label {
  padding-left: 22px;
}

.recall__rating-input {
  margin: 0;
  width: 56px;
  height: 56px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 18px solid #f2f2f2;
  }

  &:checked {
    &::before {
      background-color: #333333;
    }
  }

  &:hover {
    &::before {
      border: 18px solid #e5e5e5;
      background-color: #e5e5e5;
    }

    &:checked {
      &::before {
        background-color: #333333;
      }
    }
  }

  &:active {
    &::before {
      border: 18px solid #d5d5d5;
      background-color: #d5d5d5;
    }

    &:checked {
      &::before {
        background-color: #a4a4a4;
      }
    }
  }
}

.recall__attractions-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  padding-left: 20px;
  padding-bottom: 3px;
}

.recall__attractions-item {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.recall__attractions-input {
  width: 56px;
  height: 56px;
  margin: 0;
  position: relative;
  //visibility: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 4px;
  }

  &:checked {
    &::before {
      background: #f2f2f2 url(../img/icon-tick.svg) no-repeat 50% 50%;
    }
  }

  &:hover {
    &::before {
      background: #e5e5e5;
    }

    &:checked {
      &::before {
        background: #e5e5e5 url(../img/icon-tick.svg) no-repeat 50% 50%;
      }
    }
  }

  &:active {
    opacity: 0.3;
    &::before {
      background: #d5d5d5;
    }

    &:checked {
      &::before {
        background: #d5d5d5 url(../img/icon-tick.svg) no-repeat 50% 50%;
      }
    }
  }
}

.recall__attractions-label {
  padding-left: 22px;
}

.recall__attractions-heading {
  margin-bottom: 15px;
}

.recall__comment-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  padding-bottom: 51px;
}

.recall__comment-heading {
  margin-bottom: 17px;
}

.recall__comment-text {
  border: none;
  display: block;
  background-color: @input-color;
  padding: 16px 0 14px 20px;
  width: 87.5%;
  margin: 0 auto;
}

.recall__button {
  .font-ptsans();
  .font(21px, bold, 26px);
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: @alt-text-color;
  background-color: @background-color;
  border: none;
  margin: 0 auto;
  width: 87.5%;
  padding: 16px 48px;
  margin-bottom: 73px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.recall__required {
  display: none;
}

.popup {
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  z-index: 100;
}

.popup--show {
  display: block;
  animation: bounce .6s;
}

.popup--hide {
  display: none;
}

.popup-success__text-container {
  padding: 40px 20px 30px;
  background: #fff;
  text-align: center;
}

.popup-success__header {
  margin: 0 auto 27px;
}

.popup-success__button-container {
  padding: 20px;
  background: #f2f2f2;
}

.popup-success__close {
  .font(18px, bold, 26px);
  text-transform: uppercase;
  background-color: #81b3d2;
  color: @input-color;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  width: 100%;
  border: none;
}

@media (min-width: @tablet-width) {
  .recall__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .recall__rating-heading,
  .recall__name-heading,
  .recall__contacts-heading {
    text-align: left;
    .font(21px, bold, 26px);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 57px;
  }

  .recall__name-fieldset {
    order: 2;
    width: 42.1%;
    height: 330px;
    border: none;
    border-left: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding: 0;
    margin: 0;
    padding-left: 57px;
  }

  .recall__name-heading {
    margin-bottom: 41px;
  }

  .recall__name-label {
    margin-right: 15px;
  }

  .recall__name-input {
    padding-left: 19px;
  }
  .recall__contacts-fieldset {
    order: 3;
    width: 84.63%;
    padding: 0;
    margin: 0 auto;
    border: none;
    margin-top: 36px;
    border-top: 1px solid #e5e5e5;
  }

  .recall__contacts-heading {
    text-align: center;
    width: 400px;
    margin-bottom: 25px;
  }

  .recall__contacts-item {
    margin-bottom: 23px;
  }

  .recall__contacts-label {
    margin-left: 22px;
  }

  .recall__rating-fieldset {
    order: 1;
    width: 41.9%;
    height: 330px;
    padding: 0;
    border: none;
    margin: 0;
  }

  .recall__rating-fieldset .recall__rating-heading {
    margin-bottom: 57px;
  }

  .recall__rating-fieldset .recall__rating-item {
    margin-bottom: 23px;
  }

  .recall__rating-label {
    padding-left: 21px;
  }

  .recall__attractions-fieldset {
    order: 4;
    width: 84.63%;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-top: 1px solid rgb(219, 219, 219);
    margin-top: 52px;
  }

  .recall__attractions-heading {
    .font(21px, bold, 26px);
    width: 278px;
    margin: 0;
    text-align: center;
    padding: 0 60px;
    margin-bottom: 42px;
    box-sizing: content-box;
  }

  .recall__attractions-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recall__attractions-item {
    margin: 0;
    width: 229px;
    height: 56px;
    margin-bottom: 32px;
    margin-left: 30px;
  }

  .recall__attractions-label {
    padding-left:  24px;
  }

  .recall__comment-fieldset {
    order: 5;
    width: 84.63%;
    border: none;
    border-top: 1px solid rgb(219, 219, 219);
    margin-top: 36px;
    padding: 0;
  }

  .recall__comment-heading {
    .font(21px, bold, 26px);
    box-sizing: content-box;
    padding: 0 60px;
    margin: 0;
    margin-bottom: 58px;
    width: 278px;
  }

  .recall__comment-text {
    width: 100%;
  }

  .recall__button {
    width: 50%;
    margin: 0 auto;
  }

  .recall__required {
    .font(14px, normal, 26px);
    text-transform: uppercase;
    width: 50%;
    display: block;
    margin-left: auto;
    text-align: right;
  }

  .recall__footer-wrap {
    order: 6;
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .recall .wrap {
    width: 968px;
    margin: 0 auto;
  }

  .recall__filter {
    justify-self: center;
  }

  .recall__name-fieldset {
    width: 475px;
    padding-left: 77px;
    padding-right: 0;
  }

  .recall__name-label {
    margin-right: 15px;
  }

  .recall__name-input {
    padding-left: 17px;
  }
  .recall__rating-fieldset {
    width: 476px;
  }

  .recall__rating-heading {
    padding-left: 75px;
  }

  .recall__rating-label {
    padding-left: 18px;
  }



  .recall__contacts-fieldset {
    width: 960px;
    margin-top: 34px;
  }

  .recall__contacts-heading {
    margin-bottom: 75px;
}

  .recall__contacts-wrap {
    display: flex;
    align-items: center;
  }

  .recall__contacts-item {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: 0;
  }



  .recall__contacts-label {
    margin: 0;
    margin-right: 18px;
    &--desktop {
      display: block;
      margin: 0;
      margin-right: 6px;
      text-transform: uppercase;
    }

    span {
      display: none;
    }
  }

  .recall__contacts-input {
    width: 257px;
  }

  .recall__contacts-item:first-of-type::after {
    right: 80px;
  }

  .recall__attractions-fieldset {
    width: 1200px;
  }

  .recall__attractions-wrap {
    justify-content: space-between;
    width: 100%;
  }

  .recall__attractions-item {
    width: auto;
    margin-left: 0;
  }

  .recall__attractions-label {
    padding-left: 29px;
  }

  .recall__comment-fieldset {
    width: 960px;
    margin-top: 34px;
  }

  .recall__comment-heading {
    margin-bottom: 58px;
  }

  .recall__footer-wrap {
    width: 960px;
    margin-bottom: 66px;
  }
}
