.recall {
  .font-ptsans();
}

.recall__name-heading,
.recall__contacts-heading,
.recall__rating-heading,
.recall__attractions-heading,
.recall__comment-heading {
  .font(18px, bold, 26px);
  text-align: center;
  color: @black;
}

.recall__name-label,
.recall__contacts-label {
  .font(14px, normal, 26px);
  text-align: left;
  color: @black-two;
}

.recall__name-input,
.recall__contacts-input,
.recall__rating-label,
.recall__attractions-label,
.recall__comment-text {
  .font(18px, bold, 26px);
  text-align: left;
  color: @black;
}

.recall-__button {
  .font(21px, bold, 26px);
  text-align: left;
  color: @white;
  border-color: @light-grey-blue;
}
