.searching {
  .font-ptsans();
  margin: 0 auto;
}

.searching__heading {
  .font(21px, bold, 26px);
  text-align: center;
  color: @main-text-color;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.searching__desc {
  .font(14px, normal, 24px);
  text-align: center;
  color: @side-text-color;
  text-transform: uppercase;
  margin: 0;
}

.searching__button {
  .font(21px, bold, 26px);
  text-align: center;
  color: @alt-text-color;
  text-transform: uppercase;
  border: none;
  background-color: @background-color;
  padding: 17px 26px;
  display: block;
  margin: 0 auto;
  margin-bottom: 49px;
  width: 87.5%;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.searching__text-wrap {
  margin: 0 28px;
  margin-top: 33px;
  margin-bottom: 40px;
}

.searching__map-mobile,
.searching__map-tablet,
.searching__map-desktop {
  margin-bottom: 10px;

  z-index: 1;
}

.searching__map-tablet,
.searching__map-desktop {
  display: none;
}

.searching__map-container {
  position: relative;
  display: block;
  width: 320px;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/icon-map-marker.svg");
    top: 161px;
    left: 146px;
    z-index: 2;
    width: 27px;
    height: 27px;
  }
}

@media (min-width: @tablet-width) {
  .searching {
    max-width: @tablet-width;
  }

  .searching__text-wrap {
    width: 458px;
    margin: 57px auto 47px auto;

    .searching__heading {
      .font(30px, bold, 26px);
    }

    .searching__desc {
      .font(14px, normal, 24px);
    }
  }

  .searching__button {
    width: 458px;
    display: block;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  .searching__map-mobile {
    display: none;
  }

  .searching__map-tablet {
    display: block;
    width: 100%;
  }

  .searching__map-container {
    &::after {
      top: 164px;
      left: 370px;
    }
  }
}

@media (min-width: @desktop-width) {
  .searching {
    max-width: @desktop-width;
  }

  .searching__text-wrap {
    margin: 57px auto 69px auto;
  }

  .searching__button {
    margin-bottom: 85px;
  }

  .searching__map-tablet {
    display: none;
  }

  .searching__map-desktop {
    display: block;
    width: 100%;
  }

  .searching__map-container {
    &::after {
      top: 162px;
      left: 586px;
    }
  }
}
